
body{
    background-color: rgb(127, 255, 176);
    text-align: center;
    border: 20px;
}

#sectOne{
    background-color:rgb(218, 32, 196);
    padding: 50px;
}
 
#abt{
    background-color: bisque;
}