#sectOne{
    background-image: url("../images/assets/backgrounds/h_img.jpg");
    text-align: center;
    color: white;
    
}
#abt{
    text-align: center;
}
#sectTwo{
    background-image: url("../images/assets/backgrounds/s_image.jpg");
    text-align: center;
    color: white;
}
.logoResize{
    width: 40px;
}
.picResize{
    width: 325px;
}
#sectFive{
    background-image: url("../images/assets/backgrounds/c_image.jpg");
    text-align: center;
    color: white;
}
#custName{
  float: left;
  width: 25%;
  margin-top: 6px;
}
#custEmail{
  float:none;
  width: 25%;
  margin-top: 6px;
}
#custMessage{
 float: left;
  width: 25%;
  margin-top: 6px;
}